@font-face {
  font-family: 'support';
  src: url('../fonts/support.eot');
  src: url('../fonts/support.eot?#iefix') format('embedded-opentype'),
       url('../fonts/support.woff2') format('woff2'),
       url('../fonts/support.woff') format('woff'),
       url('../fonts/support.ttf') format('truetype'),
       url('../fonts/support.svg#support') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon-support {
  font-family: 'support' !important;
  font-style: normal;
  font-weight: normal;
  speak: never;
  display: inline-block;
  vertical-align: middle;
  text-decoration: inherit;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-support:before {
  content: '\f101';
}
